<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" verbose="1" name="Autothon" preserve-order="true">

        <!--listener class-name="Listeners.MyListener"></listener-->
    <listeners>

        <listener class-name="Listeners.MyListener"></listener>

    </listeners>
    <test name="Autothon">
        <classes>
            <class name="webservice.webServiceTest"/>
            <class name="webservice.webServiceTest2"/>
        </classes>
    </test>

</suite>