<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="tests" verbose="1" name="Autothon" thread-count="2" preserve-order="true">

        <!--listener class-name="Listeners.MyListener"></listener-->
    <listeners>

        <listener class-name="Listeners.MyListener"></listener>

    </listeners>
    <!--<test name="Autothon">
        <classes>
            <class name="webservice.webServiceTest"/>
            <class name="webservice.webServiceTest2"/>
        </classes>
    </test>-->

    <!--<test name="FirefoxTest">

        <parameter name="browser" value="firefox" />

        <classes>

            <class name="testcases.LoginTest" />

        </classes>

    </test>-->

    <test name="ChromeTest">

        <parameter name="browser" value="chrome" />

        <classes>

            <class name="testcases.TrivagoBookingTest" />

        </classes>

    </test>

    <!--<test name="MobileTest">

     <parameter name="browser" value="mobile" />

     <classes>

      <class name="testcases.LoginTest" />

     </classes>

    </test>-->

    <!--<test name="FirefoxTest">

        <classes>

            <class name="testcases.Try" />

        </classes>

    </test>-->

</suite>